# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

if SHIELD_OMEN_LEFT

config ZMK_KEYBOARD_NAME
    default "Omen"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_OMEN_LEFT || SHIELD_OMEN_RIGHT

config ZMK_SPLIT
    default y

endif
